---
import Layout from '@/layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h1 class="text-primary region">Astro Cube</h1>
	<div class="flow prose">
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis explicabo modi dolore, numquam dolorum obcaecati cupiditate. Obcaecati incidunt sequi excepturi eos ipsum, facilis consequatur vitae nam pariatur fugit, harum nihil.
		Ullam voluptatibus earum, fugit commodi dolore iusto, quaerat perferendis inventore deleniti cupiditate impedit enim odio, facilis quod animi distinctio consectetur qui debitis laudantium molestiae possimus obcaecati. Quibusdam ratione atque architecto!</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis explicabo modi dolore, numquam dolorum obcaecati cupiditate. Obcaecati incidunt sequi excepturi eos ipsum, facilis consequatur vitae nam pariatur fugit, harum nihil.
		Ullam voluptatibus earum, fugit commodi dolore iusto, quaerat perferendis inventore deleniti cupiditate impedit enim odio, facilis quod animi distinctio consectetur qui debitis laudantium molestiae possimus obcaecati. Quibusdam ratione atque architecto!</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis explicabo modi dolore, numquam dolorum obcaecati cupiditate. Obcaecati incidunt sequi excepturi eos ipsum, facilis consequatur vitae nam pariatur fugit, harum nihil.
		Ullam voluptatibus earum, fugit commodi dolore iusto, quaerat perferendis inventore deleniti cupiditate impedit enim odio, facilis quod animi distinctio consectetur qui debitis laudantium molestiae possimus obcaecati. Quibusdam ratione atque architecto!</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis explicabo modi dolore, numquam dolorum obcaecati cupiditate. Obcaecati incidunt sequi excepturi eos ipsum, facilis consequatur vitae nam pariatur fugit, harum nihil.
		Ullam voluptatibus earum, fugit commodi dolore iusto, quaerat perferendis inventore deleniti cupiditate impedit enim odio, facilis quod animi distinctio consectetur qui debitis laudantium molestiae possimus obcaecati. Quibusdam ratione atque architecto!</p>
	</div>
</Layout>
